---
const {id,answer,question} = Astro.props
import Arrow from '../../image/right-arrow.png';

import a1 from '../../voices/a1.mp3';
import a2 from '../../voices/a2.mp3';
import a3 from '../../voices/a3.mp3';

import gc1 from '../../voices/gc1.mp3';
import gc2 from '../../voices/gc2.mp3';
import gc3 from '../../voices/gc3.mp3';
import gc4 from '../../voices/gc4.mp3';
import gc5 from '../../voices/gc5.mp3';
import gc6 from '../../voices/gc6.mp3';
import gc7 from '../../voices/gc7.mp3';
import gc8 from '../../voices/gc8.mp3';
import gc9 from '../../voices/gc9.mp3';
import gc11 from '../../voices/gc11.mp3';

import f1 from '../../voices/f1.mp3';
import f2 from '../../voices/f2.mp3';
import f3 from '../../voices/f3.mp3';
import f4 from '../../voices/f4.mp3';
import f5 from '../../voices/f5.mp3';
import f6 from '../../voices/f6.mp3';
import f7 from '../../voices/f7.mp3';
import f8 from '../../voices/f8.mp3';

import b1 from '../../voices/b1.mp3';
import b2 from '../../voices/b2.mp3';
import b3 from '../../voices/b3.mp3';
import b4 from '../../voices/b4.mp3';
import b5 from '../../voices/b5.mp3';
import b6 from '../../voices/b6.mp3';
import b7 from '../../voices/b7.mp3';
import b8 from '../../voices/b8.mp3';
import b9 from '../../voices/b9.mp3';

import e2 from '../../voices/e2.mp3';
import e3 from '../../voices/e3.mp3';
import e4 from '../../voices/e4.mp3';
import e5 from '../../voices/e5.mp3';
import e6 from '../../voices/e6.mp3';
import e7 from '../../voices/e7.mp3';

import rs1 from '../../voices/rs1.mp3';
import rs2 from '../../voices/rs2.mp3';
import rs3 from '../../voices/rs3.mp3';
import rs4 from '../../voices/rs4.mp3';
---



<div class="cursor-pointer w-[90vw]" id="faqQuestion">
    <div class="flex justify-between items-center bg-[#EE9471] w-full h-[50px] px-[10px] rounded-t-lg rounded-b-lg"><span class= " text-[13px] md:text-[17px] lg:text-[24px]">{question}</span><img src={Arrow} class="w-[24px] h-[24px]"/></div>
    <div class="hidden bg-white shadow-md w-full rounded-b-lg p-[10px] text-[13px] md:text-[17px] lg:text-[24px]">
        {answer}
        
        <div class="m-[10px]">
            {
                id == 'a1' ? <audio controls src={a1}></audio> :
                id == 'a2' ? <audio controls src={a2}></audio> :
                id == 'a3' ? <audio controls src={a3}></audio> :
    
                id == 'gc1' ? <audio controls src={gc1}></audio> :
                id == 'gc2' ? <audio controls src={gc2}></audio> :
                id == 'gc3' ? <audio controls src={gc3}></audio> :
                id == 'gc4' ? <audio controls src={gc4}></audio> :
                id == 'gc5' ? <audio controls src={gc5}></audio> :
                id == 'gc6' ? <audio controls src={gc6}></audio> :
                id == 'gc7' ? <audio controls src={gc7}></audio> :
                id == 'gc8' ? <audio controls src={gc8}></audio> :
                id == 'gc9' ? <audio controls src={gc9}></audio> :
                id == 'gc11' ? <audio controls src={gc11}></audio> :
    
                id == 'f1' ? <audio controls src={f1}></audio> :
                id == 'f2' ? <audio controls src={f2}></audio> :
                id == 'f3' ? <audio controls src={f3}></audio> :
                id == 'f4' ? <audio controls src={f4}></audio> :
                id == 'f5' ? <audio controls src={f5}></audio> :
                id == 'f6' ? <audio controls src={f6}></audio> :
                id == 'f7' ? <audio controls src={f7}></audio> :
                id == 'f8' ? <audio controls src={f8}></audio> :
    
                id == 'b1' ? <audio controls src={b1}></audio> :
                id == 'b2' ? <audio controls src={b2}></audio> :
                id == 'b3' ? <audio controls src={b3}></audio> :
                id == 'b4' ? <audio controls src={b4}></audio> :
                id == 'b5' ? <audio controls src={b5}></audio> :
                id == 'b6' ? <audio controls src={b6}></audio> :
                id == 'b7' ? <audio controls src={b7}></audio> :
                id == 'b8' ? <audio controls src={b8}></audio> :
                id == 'b9' ? <audio controls src={b9}></audio> :
    
                id == 'e2' ? <audio controls src={e2}></audio> :
                id == 'e3' ? <audio controls src={e3}></audio> :
                id == 'e4' ? <audio controls src={e4}></audio> :
                id == 'e5' ? <audio controls src={e5}></audio> :
                id == 'e6' ? <audio controls src={e6}></audio> :
                id == 'e7' ? <audio controls src={e7}></audio> :
                
                id == 'rs1' ? <audio controls src={rs1}></audio> :
                id == 'rs2' ? <audio controls src={rs2}></audio> :
                id == 'rs3' ? <audio controls src={rs3}></audio> :
                id == 'rs4' ? <audio controls src={rs4}></audio> :
    
                <></>
            }
        </div>
    </div>
</div>