---
import CategoryCard from "./categoryCard.astro";

import Business from '../image/business.png';
import Community from '../image/community.png';
import Education from '../image/education.png';
import Family from '../image/family.png';
import Reading from '../image/reading.png';
import Music from '../image/music.png';
import Notification from '../image/notification.png';
import PositiveMindset from '../image/positive-mindset.png';
import Relationship from '../image/relationship.png';
import SayChauk from '../image/SayChauk.png';
---

<style>
    @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Fredoka:wght@300&display=swap');
    .concert-one{
        font-family: 'Concert One', cursive;
    }
</style>
<div id="here" class="grid grid-cols-3 my-[40px] w-[90vw] gap-[7px] sm:gap-5">
    <h1 class="concert-one col-span-3 text-[14px] md:text-[30px] mx-auto">သင့်မှာလူတွေမသိတောင် ကြိတ်မှိတ်ထားရတဲ့ ပြဿနာလေးတွေရှိလား?</h1>
    <CategoryCard path="./community" withBg={true} label="ပတ်ဝန်းကျင်နှင့်စိတ်ကျရောဂါ" image={Community}/>
    <CategoryCard path="./relationship" withBg={true} label="အသည်းကွဲနေလား?" image={Relationship}/>
    <CategoryCard path="./family" withBg={true} label="မိသားစုကြောင့်စိတ်ဓာတ်ကျခြင်း" image={Family}/>
    <CategoryCard path="./business" withBg={true} label="အလုပ်မှာစိတ်ဓာတ်ကျခြင်း" image={Business}/>
    <CategoryCard path="./education" withBg={true} label="ပညာရေးပြဿနာများ" image={Education}/>
    <CategoryCard path="./positive-mindset" withBg={true} label="အကောင်းမြင်စိတ်" image={PositiveMindset}/>
    <CategoryCard path="./music" withBg={false} label="ကုသနိုင်စွမ်းရှိတဲ့သီချင်းများ" image={Music}/>
    <CategoryCard path="./addiction" withBg={true} label="ကျွန်ုပ်စွဲလမ်းနေပြီလား" image={SayChauk}/>
    <CategoryCard path="./article" withBg={false} label="စိတ်ခွန်အားပေးဆောင်းပါးများ" image={Reading}/>
</div>