---
import CategoryCard from "./categoryCard.astro";

import Business from '../image/business.png';
import Community from '../image/community.png';
import Education from '../image/education.png';
import Family from '../image/family.png';
import Music from '../image/music.png';
import Notification from '../image/notification.png';
import PositiveMindset from '../image/positive-mindset.png';
import Relationship from '../image/relationship.png';
import SayChauk from '../image/SayChauk.png';
---

<style>
    @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Fredoka:wght@300&display=swap');
    .concert-one{
        font-family: 'Concert One', cursive;
    }
</style>
<div class="grid grid-cols-3 my-[40px] w-[90vw] gap-5">
    <h1 class="concert-one col-span-3 text-[50px] mx-auto">Categories</h1>
    <CategoryCard path="./community" withBg={true} label="Good Community" image={Community}/>
    <CategoryCard path="./relationship" withBg={true} label="Relationship" image={Relationship}/>
    <CategoryCard path="./family" withBg={true} label="Family" image={Family}/>
    <CategoryCard path="./business" withBg={true} label="Bussiness" image={Business}/>
    <CategoryCard path="./education" withBg={true} label="Education" image={Education}/>
    <CategoryCard path="./positive-mindset" withBg={true} label="Positive mindset" image={PositiveMindset}/>
    <CategoryCard path="./music" withBg={false} label="Music" image={Music}/>
    <CategoryCard path="./addiction" withBg={true} label="Addiction" image={SayChauk}/>
    <CategoryCard path="./prevent-suicide" withBg={false} label="" image={Notification}/>
</div>